/* .dark .shiki,
.dark .shiki span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
} */

.markdown {
	--element-block: 0.5em;
	-webkit-text-size-adjust: 100%;

	margin: 0;
	font-family:
		"Geist",
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Noto Sans,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	text-shadow: unset;

	& > * {
		overflow: hidden;
	}

	& .katex {
		/* HACK:
			It has a child element with position absolute.
			By setting it to relative again, we fix the overflow.
		*/
		position: relative;
	}

	& .katex > * {
		font-size: 1.1em;
	}

	& h1 {
		font-size: 3.052em;
		border-bottom: 1px solid hsl(var(--border));
		font-weight: 600;
	}
	& h2 {
		font-size: 2.441em;
		border-bottom: 1px solid hsl(var(--border));
		font-weight: 500;
	}
	& h3 {
		font-size: 1.953em;
	}
	& h4 {
		font-size: 1.563em;
	}
	& h5 {
		font-size: 1.25em;
	}

	& p {
		margin-bottom: 1em;
	}

	/*&.prose p {
		margin-bottom: 2em;
	}*/

	& blockquote {
		margin-block: var(--element-block);
		padding: 0 0.5em;
		color: hsl(var(--foreground));
		border-left: 0.25em solid hsl(var(--border));

		& p {
			font-style: italic;
			margin: 0;
		}
	}

	& strong {
		font-weight: 600;
	}

	& a {
		color: hsl(var(--primary));
		background-color: transparent;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		/* Special cases made just for astro */
		&:not([data-footnote-backref]):not([data-footnote-ref]) {
			text-decoration: underline wavy;
		}
	}

	& img {
		border-radius: var(--radius);
	}

	& ul {
		margin-block: var(--element-block);
		list-style: disc;
		padding-inline-start: 1.5rem;

		/* If they have a li with an input set to checkbox */
		&:has(li input[type="checkbox"]) {
			list-style: none;
			padding-inline-start: 1px;
		}
	}

	/* Nested unordered lists */
	& ul ul {
		list-style-type: circle;
	}

	& ul ul ul {
		list-style-type: square;
	}

	/* Nested ordered lists */
	& ol ol {
		list-style-type: lower-roman;
	}

	/* Mixed nested lists */
	& ol ul,
	& ul ol {
		list-style-type: circle;
	}

	& ol ul ul {
		list-style-type: square;
	}

	& ol {
		margin-block: var(--element-block);
		list-style: decimal;
		padding-inline-start: 1.5rem;
	}

	& pre:has(code) {
		display: grid;
		margin-block: var(--element-block);
		border-radius: var(--radius);
		font-size: 16px !important;
		overflow-x: auto;

		& code {
			color: inherit;
			border-radius: inherit;
			padding: 16px;
			max-width: min-content;
			border: none;
			margin: 0;
		}

		&.shiki code {
			background: transparent;
		}
	}

	& code {
		margin-block: var(--element-block);
		padding: 2px 4px;
		background: hsl(var(--muted));
		border-radius: var(--radius);
		border: 1px solid hsl(var(--border));
		color: hsl(var(--foreground));
		font-size: 14px;
	}

	kbd {
		color: inherit;
		background-color: hsl(var(--foreground));
		border: 1px solid hsl(var(--foreground-muted));
		border-radius: 4px;
		box-shadow:
			0 1px 1px var(--wui-shade-03),
			0 2px 0 0 var(--wui-shade-01) inset;
		display: inline-block;
		font-size: 0.85em;
		font-weight: 700;
		line-height: 1;
		padding: 2px 4px;
		white-space: nowrap;
	}

	& table {
		margin-block: var(--element-block);
		border-collapse: collapse;

		& th,
		td {
			padding: 6px 13px;
			text-align: left;
		}

		html:has(.dark) & tr:nth-child(even) {
			background-color: hsl(var(--popover));
		}

		& tr:nth-child(even) {
			background-color: hsl(var(--muted));
		}

		& th {
			color: hsl(var(--foreground));
			background-color: hsl(var(--muted));
			border: 1px solid hsl(var(--border));
		}

		html:has(.dark) & th {
			background-color: hsl(var(--popover));
		}

		& td {
			border: 1px solid hsl(var(--border));
		}
	}

	&::-webkit-scrollbar {
		width: 16px;
		height: 16px;
	}

	&::-webkit-scrollbar-track {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFElEQVQIW2M4fPz0////GYAYyAIASnoKpV3w4kgAAAAASUVORK5CYII=");
		image-rendering: pixelated;
	}

	&::-webkit-scrollbar-track:active {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAEElEQVQIW2No6+pjgAAgCwAWogM9VKrgGQAAAABJRU5ErkJggg==");
	}

	&::-webkit-scrollbar-thumb {
		border-top: 1px solid #c3c7cb;
		border-left: 1px solid #c3c7cb;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		box-shadow:
			inset 1px 1px 0 0 white,
			inset -1px -1px 0 0 #868a8e;

		width: 16px;
		height: 16px;
		background-color: #c3c7cb;
		z-index: 1;
	}

	&::-webkit-scrollbar-corner {
		background-color: #c3c7cb;
	}

	&::-webkit-resizer {
		width: 16px;
		height: 16px;
		background-color: #c3c7cb;
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAN0lEQVR4Ae3MgQUAMBRDwU5fFF05lb/CARTBw2Ulof0DxPtcwp3hNuEYnjbcEW4TjuFpwx3h9gMWGgZ2Y/PT2gAAAABJRU5ErkJggg==");
		background-position: bottom right;
		background-repeat: no-repeat;
		image-rendering: pixelated;
	}

	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-button {
		border-top: 1px solid #c3c7cb;
		border-left: 1px solid #c3c7cb;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		box-shadow:
			inset 1px 1px 0 0 white,
			inset -1px -1px 0 0 #868a8e;

		display: block;
		width: 16px;
		height: 16px;
		background-color: #c3c7cb;
		image-rendering: pixelated;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&::-webkit-scrollbar-button:active {
		background-position: 2px 2px;
	}

	&::-webkit-scrollbar-button:horizontal:decrement {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHklEQVQY02NgoBT8xyX8H5fwf1zCpOjAYwceV1EEAAO2D/HsQ4vsAAAAAElFTkSuQmCC");
	}

	&::-webkit-scrollbar-button:horizontal:increment {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAHUlEQVQY02NgIB/8xy3xH7fEf9wS/0nUQZqrKAYAK44P8ZRmzLQAAAAASUVORK5CYII=");
	}

	&::-webkit-scrollbar-button:vertical:decrement {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGklEQVR4AWMYxuA/SYphmETFhDX9x4mHGQAAcL4P8dQiMq8AAAAASUVORK5CYII=");
	}

	&::-webkit-scrollbar-button:vertical:increment {
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAQAAAD8fJRsAAAAF0lEQVQY02NgoBf4jwJxSOHQhcNAOgMAWWAP8Rv2U3UAAAAASUVORK5CYII=");
	}

	&::-webkit-scrollbar-button:horizontal:increment:start {
		display: none;
	}
	&::-webkit-scrollbar-button:horizontal:decrement:end {
		display: none;
	}
	&::-webkit-scrollbar-button:vertical:increment:start {
		display: none;
	}
	&::-webkit-scrollbar-button:vertical:decrement:end {
		display: none;
	}

	&::-webkit-scrollbar-button:active {
		border-top: 1px solid #868a8e;
		border-left: 1px solid #868a8e;
		border-bottom: 1px solid #868a8e;
		border-right: 1px solid #868a8e;
		box-shadow: none;
	}
}
