/* .dark .shiki,
.dark .shiki span {
  background-color: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
} */

.markdown {
	--element-block: 0.5em;
	-webkit-text-size-adjust: 100%;

	margin: 0;
	font-family:
		"Geist",
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Noto Sans,
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji";
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	text-shadow: unset;

	& h1 {
		font-size: 3.052em;
		border-bottom: 1px solid hsl(var(--border));
		font-weight: 600;
	}
	& h2 {
		font-size: 2.441em;
		border-bottom: 1px solid hsl(var(--border));
		font-weight: 500;
	}
	& h3 {
		font-size: 1.953em;
	}
	& h4 {
		font-size: 1.563em;
	}
	& h5 {
		font-size: 1.25em;
	}

	& p {
		margin-bottom: 1em;
	}

	/*&.prose p {
		margin-bottom: 2em;
	}*/

	& blockquote {
		margin-block: var(--element-block);
		padding: 0 0.5em;
		color: hsl(var(--foreground));
		border-left: 0.25em solid hsl(var(--border));

		& p {
			font-style: italic;
			margin: 0;
		}
	}

	& strong {
		font-weight: 600;
	}

	& a {
		color: hsl(var(--primary));
		background-color: transparent;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		/* Special cases made just for astro */
		&:not([data-footnote-backref]):not([data-footnote-ref]) {
			text-decoration: underline wavy;
		}
	}

	& img {
		border-radius: var(--radius);
	}

	& ul {
		margin-block: var(--element-block);
		list-style: disc;
		padding-inline-start: 2rem;

		/* If they have a li with an input set to checkbox */
		&:has(li input[type="checkbox"]) {
			list-style: none;
			padding-inline-start: 1px;
		}
	}

	/* Nested unordered lists */
	& ul ul {
		list-style-type: circle;
	}

	& ul ul ul {
		list-style-type: square;
	}

	/* Nested ordered lists */
	& ol ol {
		list-style-type: lower-roman;
	}

	/* Mixed nested lists */
	& ol ul,
	& ul ol {
		list-style-type: circle;
	}

	& ol ul ul {
		list-style-type: square;
	}

	& ol {
		margin-block: var(--element-block);
		list-style: decimal;
		padding-inline-start: 1rem;
	}

	& pre:has(code) {
		display: grid;
		margin-block: var(--element-block);
		border-radius: var(--radius);
		font-size: 16px !important;
		overflow-x: auto;

		& code {
			color: inherit;
			border-radius: inherit;
			padding: 16px;
			max-width: min-content;
			border: none;
			margin: 0;
		}

		&.shiki code {
			background: transparent;
		}
	}

	& code {
		margin-block: var(--element-block);
		padding: 2px 4px;
		background: hsl(var(--muted));
		border-radius: var(--radius);
		border: 1px solid hsl(var(--border));
		color: hsl(var(--foreground));
		font-size: 14px;
	}

	kbd {
		color: inherit;
		background-color: hsl(var(--foreground));
		border: 1px solid hsl(var(--foreground-muted));
		border-radius: 4px;
		box-shadow:
			0 1px 1px var(--wui-shade-03),
			0 2px 0 0 var(--wui-shade-01) inset;
		display: inline-block;
		font-size: 0.85em;
		font-weight: 700;
		line-height: 1;
		padding: 2px 4px;
		white-space: nowrap;
	}

	& table {
		margin-block: var(--element-block);
		border-collapse: collapse;

		& th,
		td {
			padding: 6px 13px;
			text-align: left;
		}

		html:has(.dark) & tr:nth-child(even) {
			background-color: hsl(var(--popover));
		}

		& tr:nth-child(even) {
			background-color: hsl(var(--muted));
		}

		& th {
			color: hsl(var(--foreground));
			background-color: hsl(var(--muted));
			border: 1px solid hsl(var(--border));
		}

		html:has(.dark) & th {
			background-color: hsl(var(--popover));
		}

		& td {
			border: 1px solid hsl(var(--border));
		}
	}
}
